@import url(./cdn.css);
@import url(./header.css);
@import url(./cv-content.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f7f3ee;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 2;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 1024px) {
    .container { 
        max-width: 984px;
    }
}
@media (max-width: 992px) {
    .container { 
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}