.header {
    padding: 30px 0;
}

.header_wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.header__image-block {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.header__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.header__info-block {
    width: 70%;
    border-bottom: 5px double #f89602;
}

.header__info-name {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.header__info-position {
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 500;
    color: #000;
}

.header__info-contacts-line {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.header__info-contacts-line:last-child {
    margin-bottom: 33px;
}

.header__info-contacts-block {
    width: 255px;
    display: flex;
}

.header__info-content {
    width: 90%;
    line-height: 30px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.icons-block {
    width: 10%;
    text-align: center;
    line-height: 30px;
}

.my-icon {
    font-size: 16px;
    color: #000;
}

@media (max-width: 992px) {
    .header__info-contacts-line {
        margin-bottom: 0;
    }
}

@media (max-width: 760px) {
    .header {
        padding: 20px 0;
    }

    .header__image-block {
        width: 150px;
        height: 150px;
    }

    .header__info-name {
        font-size: 23px;
    }

    .header__info-position {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .header__info-content {
        font-size: 15px;
    }
}

@media (max-width: 570px) {
    .header_wrap {
        flex-direction: column;
        justify-content: center;
    }

    .header__info-block {
        width: 100%;
    }

    .header__image-block {
        margin-bottom: 20px;
    }
}